/* Global */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,Segoe UI,sans-serif
;}

body{
    background:#0a0f1c;
    color:#fff;
}

/* Landing Page */
.landing-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#0a0f1c,#1a1f3c);
}
